# PROD
# DATABASE_URL=""

# LOCAL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ticket_bounty"

RESEND_API_KEY=""

AWS_BUCKET_NAME="bounty-lane"
AWS_BUCKET_REGION="eu-north-1"

AWS_ACCESS_KEY=""
AWS_SECRET_ACCESS_KEY=""

INNGEST_DEV=1